<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating Prediction system</title>
    <link rel="stylesheet" href="../static/assets/styles/style.css">
    <script src="../static/js/script.js" defer></script>
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body onload="addOptions()">
    <div class="container">
        <nav class="navbar">
            <h4 class="brand-logo">NITESH PANDEY</h4>
            <ul class="nav-items">
                <li><a href="#home">Home</a></li>
                <li><a href="#form">Predictor</a></li>
                <li><a href="#about">About me</a></li>
            </ul>
        </nav>
         <section class="hero" id="home">
            <h1>Restaurant Rating Prediction</h1>
            <a class="goBtn" href="#form">
                <button>Click Here To Explore</button>
            </a>
         </section>   
         <section class="form-wrapper" id="form">
            <div class="form-head">
                <h1 class="heading">Wellcome to Rating Predictor</h1>
                <p class="heading-md">
                    Enter the details and get the Rating (:
                </p>
            </div>
            <form method="POST">
                <div class="form-group">
                    <label>Restaurant type</label>
                    <select class="form-item" id="RT" name="rest_type">
                        <option>select here</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Cuisines</label>
                    <select class="form-item" id="C" name="cuisines">
                        <option>select here</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Online order facility</label>
                    <select name="online_order" id="OO" required>
                        <option>-Select-</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                </div>
                <div class="form-group">
                    <label>Book table facility</label>
                    <select name="book_table" id="BT" required>
                        <option>-Select-</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <select name="location" class="form-item" id="L">
                        <option>select here</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Cost for people</label>
                    <input  type="number" name="approx_cost" id="approx_cost" class="form-item" min="300" placeholder="- Enter Cost -" required />
                </div>
                <div class="form-group">
                    <label>No. of votes</label>
                    <input type="number" name="votes" id="votes" class="form-item" />
                </div>
                
                <div class="form-group">
                    <button type="submit" class="submit"  onclick="() => {
                        alert('ok')
                        window.location.href = '/#form'
                    }">Submit</button>
                    <button type="reset" class="reset">Cancel</button>
                </div>
            </form>

            <!-- PREDICTOR -->
            <div class="pred">
                <h3>Result</h3>
                <p id="pred-text">Expected Rating</p>
                <hr id="hr2">
                <p id="rating">
                    <span id="stars"></span>
                    <span id="finalOutput">{{prediction_text}}</span>
                </p>

            </div>
         </section>

         <section id="about">
                <div class="card">
                    <div class="left-side">

                    </div>
                    <div class="right-side">
                        <h1>About me</h1>
                        <p>
                            Very passionate about evergrowing technology especially in the field of DataScience. I believe Skills are the ability to prove the domain expertise. My hard skills include Python, SQL, MachineLearning, C, and others. Currently studying a Full Stack Data Science course.
                        </p>
                        <div class="social-links">
                            <a href="https://www.linkedin.com/in/nitesh-pandey-a50463278" target="blank"><i class="fab fa-linkedin">
                                Linkedin</i></a>
                            
                            <a href="https://github.com/nitesh-kumar-pandey" target="blank"><i class="fab fa-github"></i> Github</a>
                           
                            <a href="https://twitter.com/__nitesh_1" target="blank"><i class="fab fa-twitter"> Twitter</i></a>
                            <a href="https://www.instagram.com/__nitesh_1  /" target="blank"><i class="fab fa-instagram"></i> Instagram</a>
                        </div>
                    </div>
                </div>
         </section>
    </div>
    <footer>
          <div>
            <p>Devloped by NITESH PANDEY. Year 2024.</p>
          </div>  
    </footer>
</body>
</html>
